* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to top right, #e66465, 10%, #9198e5);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-button {
  padding: 10px;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.amount-display {
  font-size: 100pt;
}

.generators-container {
  display: flex;
  gap: 10px;
}

.generator {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.generator-img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  font-size: 30pt;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.generator-button {
  width: 100%;
  height: 30px;
  color: black;
  user-select: none;
}

.generator-label {
  text-align: center;
}

.can-not-purchase {
  pointer-events: none;
  color: grey;
}

.svg-container {
  display: flex;
  align-items: center;
}

.companion {
  transform: scale(0.5);
}
